a {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-thickness: 54%;
    font-size: 100%;
}

img {
    padding: px;
    border-radius: 25px;
}

.rectangle {
    padding: 4px;
    border-radius: 7px;
    background-color: #add8e6;
    width: fit-content;
    transition: 0.75s;
}

.horizontalspacer {
    height: 0px;
    width: 0px;
}

.rndrec {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 200px;
    height: 210px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    display: inline-block;
}

.more {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
}

.search-input {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 500px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    color: white;
}

.search-button {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 100px;
    height: 50px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    color: white;
}

.search {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 1px;
    width: 500px;
    height: 40px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
}

.rndrecbutton {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    display: fit-content;
    outline-style: solid;
    outline-color: #490670;
}

.rndrecbutton2 {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    outline: solid;
    margin: auto;
    outline-color: blueviolet;
}

.rndrecother {
    border-radius: 25px;
    background-color: #add8e6;
    padding: 15px;
    width: 100px;
    height: 100px;
    transition: 0.75s;
    display: inline-block;
    margin: 30px;
}

.button {
    border-radius: 25px;
    background-color: #3f065c;
    padding: 0px;
    width: 0px;
    height: 0px;
}

.rndrec:hover {
    background-color: #add8e6;
    transform: translate(3%, 3%);
}

.rndrecbutton:hover {
    background-color: #add8e6;
    transform: translate(3%, 3%);
}

.more:hover {
    background-color: #add8e6;
    transform: translate(3%, 3%);
}

.rndrecother:hover {
    background-color: #add8e6;
    transform: translate(3%, 3%);
}

.rectangle:hover {
    transform: translate(0%, 5%);
}

.rndrecbutton2:hover {
    background-color: #add8e6;
}
